    .navber{
    display: flex;
    justify-content: space-between;
    height: 150px;
    margin-top: 10px;
    padding: 5px 20px; 
    align-items: center;   
}

.navber h3{
    font-size: 2.5rem;
}
header{
    margin: 0 auto;
    max-width: 1200px;
    height: auto;
    
  
}
 nav ul{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
   


}

    

 nav ul li{
    list-style: none;
   
   

}
ul a{
    text-decoration: none;
    color: black;
    
    
}

.for-flex{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
background-image: url("/images/Circle\ design.svg");
background-repeat: no-repeat;
background-position: 760px;
margin-bottom: 90px;
}
.for-flex p{
font-size: 1.2em;
}
.btn-primary{
    background-color: #E02C6D;
    color: white;
    border-radius: 25px;
    padding: 10px 40px;
    font-weight: 700;
    
}

   


h1{
    font-size: 3.5rem;
    font-weight: bold;
    transition: 1s ;
}


.logos {
    margin: 0 auto;
   
  display: flex;
  gap: 40px; 
  align-items: center;
  
  justify-content: center;  
  border-top: 1px solid rgb(165,165,165);
  border-bottom:1px solid rgb(165,165,165) ;
  height: 60px;
}

.logo {
  height: 40px; 
  object-fit: contain;
  
}

    

.action h1{
    margin-left: 40px;

}
.action p .btn-primary {
    margin-left: 20px;
}
@media screen and ( max-width: 600px) {
     .navber {
        flex-direction: column;
    }
 
  .logos{

     flex-direction: column ;
    gap: 10px;
    border: none;
  }   
   .for-flex{
    flex-direction: column;
  }
 
  }
}



main{
    max-width: 1050px;
    margin: 0 auto;
}
.for-contain{
    margin-top: 30px;
    text-align: center;
    margin-top: 25px;
    font-size: 2rem;
}
.container{
   display: grid;
   grid-template-columns: repeat( 3, minmax(220px, 1fr));
   margin-top: 20px;
   gap: 20px;
   background-color: #ffffff18;
}

.grid{
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 9px rgba(0,0,0,0.1);
    text-align: center;
    
}
.grid .image img{
    position: relative;
    margin-left: 10px;
   max-width: 100%;
    height: auto;
    border-radius: 4px;
}
.grid .title {
    margin: 10px 0;
    color: #080808;
    text-align: left;
}
.grid .price{
    color:#332a2c;
    font-weight: bold;
    margin: 10px 0;
    text-align: left;
}
.grid .star{
    color: #7f8c8d;
    margin: 5px 0;
    text-align: left;


}
.grid .des{
    color: #332a2c;
    font-size: 0.9em;
    text-align: left;
}


  .see  .see-more{
    margin-top: 40px;
    position: relative;
    text-align: right;
    
    text-decoration: none;
    font-weight: bold;
} 

@media screen and ( max-width: 600px ){
    .container{
       
        grid-template-columns: 1fr;
        gap: 15px;
    }
    .grid {
                padding: 10px;
            }
            .grid .title {
                font-size: 1rem;
            }
            .grid .price {
                font-size: 1rem;
            }
            .grid .star {
                font-size: 0.8rem;
            }
            .grid .des {
                font-size: 0.7rem;
            }
            .see .see-more {
                font-size: 0.9rem;
            }
            .for-contain{
                margin-top: 30%;
            }
        }

            

 